@charset "UTF-8";

/* フォント統一 */
body {
    font-family: 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
}

/* ボタンの色を上書き */
.btn-info {
    background-color: #ced28f;
    color: #ffffff;
    border: solid white;
    border-radius: 10px;
}

.btn-info:hover {
    background-color: #c2cc38;
    border: solid white;
}

.btn-primary {
    background-color: #b29ce1;
    color: #ffffff;
    border: solid white;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #835ed2;
    border: solid white;
}

/* ナビゲーション */
.nav-item.active a {
    text-decoration: underline;
    font-weight: bold;
}

.navbar-nav .nav-item.active .nav-link {
    color: cadetblue;
}

/* ナビゲーションバーを固定 */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* フォームの間隔 */
.form-group {
    margin-bottom: 1.7rem;
}

.card-body {
    /* padding: 0.8rem; */
}

/* ページ上部にスペースを作るためのパディング */
.body-with-nav {
    padding-top: 60px;
    /* ナビゲーションバーの高さに合わせて調整 */
}

/* お問い合わせフォームのユーザについての画像調整 */
h5.sports {
    position: relative;
    padding-left: 50px;
}

h5.sports::before {
    content: url(/public/images/sports.jpeg);
    display: inline-block;
    vertical-align: middle;
    transform: scale(0.07);
    position: absolute;
    top: -237px;
    left: -290px;
}

h5.team {
    position: relative;
    padding-left: 50px;
}

h5.team::before {
    content: url(/public/images/team.png);
    display: inline-block;
    vertical-align: middle;
    transform: scale(0.2);
    position: absolute;
    top: -102px;
    left: -95px;
}

h5.user {
    position: relative;
    padding-left: 50px;
}

h5.user::before {
    content: url(/public/images/human.jpeg);
    display: inline-block;
    vertical-align: middle;
    transform: scale(0.15);
    position: absolute;
    top: -102px;
    left: -100px;
}

/* ステータス表示 */
@media screen and (max-width: 767px) {
    table {
        font-size: 12px;
    }

    thead th {
        font-size: 10px;
    }

    /* iPhone 12 や iPhone 13 mini などのスペースに合わせた修正 */
    @supports (max-width: -webkit-fill-available) {
        table {
            font-size: 11px !important;
        }

        thead th {
            font-size: 9px !important;
        }
    }
}

.status-wait {
    color: orange;
}

.status-accepted {
    color: green;
}

.status-declined {
    color: red;
}

.table {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.table thead th,
.table tbody th,
.table tbody td {
    vertical-align: middle;
}

.table td,
.table th {
    padding: .5rem;
}

/* テーブル内の文字サイズを幅に合わせて自動調整 */
.table-responsive table {
    table-layout: auto;
    width: 100%;
}

.table-responsive table td,
.table-responsive table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* テーブル内の文字サイズを幅に合わせて自動調整 */
.table-responsive table td span,
.table-responsive table th span {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    box-sizing: border-box;
}

/* テーブル内の文字サイズを幅に合わせて自動調整 */
@media screen and (min-width: 576px) {

    .table-responsive table td span,
    .table-responsive table th span {
        font-size: calc(16px + (20 - 16) * ((100vw - 576px) / (1920 - 576)));
    }
}

/* テーブル内の文字サイズを幅に合わせて自動調整 */
@media screen and (min-width: 768px) {

    .table-responsive table td span,
    .table-responsive table th span {
        font-size: calc(16px + (20 - 16) * ((100vw - 768px) / (1920 - 768)));
    }
}

/* テーブル内の文字サイズを幅に合わせて自動調整 */
@media screen and (min-width: 992px) {

    .table-responsive table td span,
    .table-responsive table th span {
        font-size: calc(16px + (20 - 16) * ((100vw - 992px) / (1920 - 992)));
    }
}

/* テーブル内の文字サイズを幅に合わせて自動調整 */
@media screen and (min-width: 1200px) {

    .table-responsive table td span,
    .table-responsive table th span {
        font-size: 20px;
    }
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    background-color: rgb(128, 146, 226);
}

label.btn-secondary {
    background-color: rgb(208, 209, 215);
}

.img-fluid,
.team-logo,
.search-logo {
    border-radius: 50%;
}

.team-logo {
    object-fit: cover;
    overflow: hidden;
}

@media (max-width: 767px) {

    .search-logo {
        width: 40px;
        height: 40px;
    }

    /* スマートフォン用のスタイル */
    .team-logo,
    .img-fluid {
        width: 60px;
        height: 60px;
    }
}

@media (min-width: 768px) {

    /* PC用のスタイル */
    .team-logo,
    .img-fluid {
        width: 100px;
        height: 100px;
    }

    .search-logo {
        width: 50px;
        height: 50px;
    }

}

/* ajax入力補完 */
#city-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 160px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #aaa;
    border-top: none;
    list-style: none;
    font-size: 14px;
}

#city-list li {
    margin: 0;
    padding: 5px 10px;
    cursor: pointer;
}

#city-list li:hover {
    background: #eee;
}

.edit-button {
    float: right;
}

.custom-file-label::after {
    content: "ファイルを選択";
}

.custom-file-label[data-browse]::after {
    content: attr(data-browse);
}

/* 画像のプレビューサイズを指定 */
.preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* プレビュー画像を中央に配置 */
}

.preview-image {
    width: 60px;
    /* プレビュー画像の幅を指定 */
    height: 60px;
    /* プレビュー画像の高さを指定 */
    object-fit: cover;
    /* アスペクト比を保ちつつプレビュー画像を表示 */
    margin: 5px;
    /* プレビュー画像の余白を指定 */
}

/* 注記 */
.notice-text {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}